<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>
</head>
<body>
    {% if nome_usuario is not none %}
      <h1>Bem-vindo, {{ nome_usuario }}</h1>
      <p><a href="{{ url_for('vamos_arrasar.logout') }}">Logout</a></p>
    {% else %}
      <h1>Bem vindo!</h1>
      <br>
      <h2>Clique aqui para logar:</h2>
      <p><a href="{{ url_for('vamos_arrasar.login') }}">Login</a></p>
    {% endif %}
</body>
</html> 
