<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela inicial</title>
</head>

<body>
  {% if nome_usuario %}
      <h1>Bem-vindo, {{ nome_usuario }}</h1>
         <h2>Escolha um tópico e veja o que Senhor te diz!:</h2>
            <h3>Por favor, selecione um tópico</h3>
                <form action="{{ url_for('vamos_arrasar.selecionar_topico') }}" method="post">
                   <label for="topico">Selecione um tópico:</label>
                     <select name="topico" required>
                       {% if topicos %}
                         {% for topico in topicos %}
                            <opction value="{{ topico }}">{{ topico }}</opction>
                          {% endfor %}
                        {% else %}
                            <opction value="">Nenhum tópico acessado</opction>
                        {% endif %}
                       </select>
                        <button type="submit">Ver a mensagem do Senhor para você:</button>
                 </form>
                      <p><a href="{{ url_for('vamos_arrasar.logout') }}">Logout</a></p>
   {% else %}
      <h1>Bem vind@!</h1>
        <h2>Venha se aproximar mais de Jesus!</h2>
          <h3>Acesse sua conta!:</h3>
           <p><a href="{{ url_for('vamos_arrasar.login') }}">Login</a></p>
      {% endif %}
</body>

</html>